body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  color: #fff;
  position: relative; /* Set position relative for absolute positioning of search bar */
}

.chat-container {
  width: 100%;
  height: calc(100% - 50px); /* Adjust height to accommodate search bar */
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.chat-message {
  margin-bottom: 20px;
  padding: 1px 15px;
  border-radius: 20px;
  background-color: #383838;
  color: #fff;
}

.chat-message.user {
  background-color: #76b900;
  color: #fff;
  text-align: right;
}

.input-container {
  padding: 20px;
}

.input-container input {
  width: 93%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #383838;
  color: #fff;
  margin-bottom: 5px;
}

.input-container button {
  width: 5%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #76b900;
  color: #fff;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #5b8c00;
}

/* Search bar styling */
.search-bar {
  position: fixed; /* Change position to fixed */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #383838;
  padding: 10px;
  box-sizing: border-box;
}

.search-bar input[type="text"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}

.search-bar button {
  width: 8%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #76b900;
  color: #fff;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #5b8c00;
}

/* Style for the side navigation */
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            z-index: 1000; /* Ensure the navigation is on top */
        }

        /* Style for the links in the navigation */
        .sidenav a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            transition: 0.3s;
        }

        /* Style for the links in the navigation on hover */
        .sidenav a:hover {
            background-color: #76b900;
            color: #fff;
        }

        /* Style for the close button */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 3px;
            font-size: 36px;
            margin-left: 50px;
        }
        
        /* Style for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
   
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    max-height: 50%; /* Set a fixed maximum height for the modal content */
    overflow-y: auto; /* Enable vertical scrolling */
}
/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #76b900; 
    text-decoration: none;
    cursor: pointer;
}

/* Input fields */
input[type=text], input[type=password], button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Create User button */
button {
    background-color: #76b900;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Table styling */
.table-container {
    overflow-x: hidden; /* Enable horizontal scrolling */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color:black;
}

/* Logout button */
.logout-icon {
  color: white; /* Set logout button color to white */
  position: absolute;
  top: 10px;
  right: 10px;
}

.trash-icon-container {
    text-align: center;
    cursor: pointer;
    margin-top: 10px; /* Add margin to separate from the input field */
}

.trash-icon-container i {
    font-size: 24px; /* Adjust icon size */
    margin: 0 10px; /* Add margin between icons */
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Add smooth transition for transform and color */
}

.trash-icon-container i:hover {
    transform: scale(1.2); /* Scale up the icon on hover */
    color: #76b900; /* Change color on hover */
}



